/* FamiliaresDistantesMaterno.css */

.fdm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fdm-modal-content {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 8px;
  width: 760px;
  /* Largura fixa */
  height: 650px;
  /* Altura fixa */
  overflow: hidden;
  /* Esconde o conteúdo que ultrapassar */
}

.fdm-sidebar-container {
  width: 25%;
  /* Proporção semelhante à do arquivo de primos/primas */
  background: #f8f9fa;
  border-right: 1px solid #ddd;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.fdm-grupo {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 20px;
  overflow-y: auto;
}

.fdm-form-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 20px;
  overflow-y: auto;
}

.fdm-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

.fdm-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.fdm-label {
  display: block;
  margin-bottom: 10px;
}

.fdm-input[type="number"],
.fdm-input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.fdm-checkbox {
  margin-right: 10px;
}

.fdm-btn-add {
  background: #28a745;
}

.fdm-btn-back {
  background: #6c757d;
}

.fdm-btn-next {
  background: #007bff;
}

.fdm-toggle-button {
  background: #f8f9fa;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 5px 10px;
  margin-top: 5px;
}

.fdm-toggle-button:hover {
  background: #007bff;
  color: #fff;
}

.fdm-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.fdm-checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.fdm-checkbox-group label {
  margin-right: 15px;
}