.meus-pacientes {
  padding: 20px;
  background-image: url('../../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Manter a imagem de fundo fixa */
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
  /* Empilhar elementos verticalmente */
}

.h1-pacientes {
  color: white;
}

.search-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.pacientes-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* Espaço entre os cartões */
  overflow-y: auto;
  /* Permitir rolagem vertical */
  height: calc(100% - 60px);
  /* Ajustar altura para rolagem */
  padding-right: 10px;
  /* Adicionar padding para evitar que o texto grude na borda */
}

.paciente-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Alinhar elementos com espaço entre eles */
  gap: 20px;
  /* Ajustar espaço entre os elementos */
  background-color: #ffffff;
  /* Fundo branco */
  height: 100px;
  /* Altura fixa para cada cartão */
}

.paciente-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* Alinhar itens ao início */
  width: 20%;
  /* Largura fixa para informações do paciente */
}

.paciente-icon {
  font-size: 24px;
  /* Tamanho do ícone */
  margin-right: 10px;
  /* Espaço entre o ícone e o nome */
}

.paciente-details {
  display: flex;
  flex-direction: column;
  /* Empilhar nome e idade verticalmente */
  width: 70%;
  /* Largura fixa para detalhes do paciente */
}

.paciente-nome {
  font-weight: bold;
  /* Destacar o nome */
  overflow: hidden;
  /* Ocultar texto que excede o limite */
  text-overflow: ellipsis;
  /* Adicionar reticências para texto longo */
  white-space: nowrap;
  /* Impedir quebras de linha */
}

.divider {
  height: 40px;
  background-color: #474747;
  margin: 10px 0;
  width: 2px;
}

.paciente-contato {
  display: flex;
  flex-direction: column;
  /* Empilhar detalhes de contato verticalmente */
  width: 35%;
  /* Largura fixa para contato */
}

.consulta-oncogenetica {
  font-weight: bold;
  /* Destacar o texto de consulta oncogenética */
  margin-top: 10px;
  /* Espaço acima deste texto */
  width: 20%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #777777;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  margin: 0 10px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}

.report-buttons {

  width: 20%;
  display: flex;
  flex-direction: row;
  /* Empilhar os ícones verticalmente */
}

.report-buttons button {
  background: none;
  /* Remover fundo do botão */
  border: none;
  /* Remover borda */
  cursor: pointer;
  /* Mostrar cursor de ponteiro ao passar o mouse */
  display: flex;
  /* Usar flexbox para centralizar os ícones */
  align-items: center;
  /* Centralizar ícones verticalmente */
}

.report-buttons button:hover {
  /* Efeito ao passar o mouse, se desejado */
  transform: scale(1.05);
  /* Aumentar levemente o ícone */
}

.report-buttons button:hover::after {
  opacity: 1;
  /* Mostrar tooltip ao passar o mouse */
  visibility: visible;
  /* Tornar o tooltip visível */
}

/* Estilos para tablet */
@media (max-width: 1024px) {
  .paciente-card {
    flex-direction: column;
    /* Empilhar o conteúdo verticalmente no tablet */
    align-items: flex-start;
    /* Alinhar itens ao início */
  }

  .divider {
    margin: 5px 0;
    /* Reduzir espaço ao redor dos divisores no tablet */
  }
}

/* Estilos para mobile */
@media (max-width: 768px) {
  .meus-pacientes {
    padding: 15px;
    /* Reduzir padding no mobile */
  }

  .search-box {
    padding: 8px;
    /* Ajustar padding para a caixa de pesquisa */
  }

  .paciente-card {
    padding: 10px;
    /* Reduzir padding nos cartões para mobile */
    gap: 15px;
    /* Reduzir espaço entre itens no cartão */
  }

  .paciente-icon {
    font-size: 20px;
    /* Ícone um pouco menor no mobile */
  }

  .paciente-nome {
    font-size: 18px;
    /* Ajustar tamanho da fonte para o nome */
  }

  .consulta-oncogenetica {
    font-size: 14px;
    /* Fonte menor para o texto de consulta */
  }
}