/* Etapa1Modal.css */

/* Overlay do modal, que cobre toda a tela */
.etapa1-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Coloca o modal acima de outros conteúdos */
}

/* Container do conteúdo do modal */
.etapa1-modal-content {
  background: #fff;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Botão de fechar do modal */
.etapa1-close-button {
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 1100; /* Coloca o botão acima do conteúdo do modal */
}

/* Títulos do modal */
.etapa1-modal-content h2 {
  margin: 0;
  padding-bottom: 10px;
}

/* Container para o conteúdo do modal */
.etapa1-modal-body {
  flex: 1; /* Permite que o conteúdo do modal se expanda */
  margin-bottom: 20px; /* Espaçamento para o botão de começar avaliação */
}

/* Botão de começar avaliação */
.etapa1-start-button {
  background-color: var(--primary-500);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.etapa1-start-button:hover {
  background-color: var(--primary-700);
}

.info-symbol {
  color: #4FBCCD; /* Cor do símbolo */
  background-color: white; /* Fundo branco */
  padding: 2px 4px; /* Adiciona preenchimento ao símbolo */
  border-radius: 4px; /* Cantos arredondados */
}