/* .dfm-form-container {
  display: flex;
  flex-direction: column;
  width: ;
  padding: 20px;
  overflow-y: auto;
} */

.dfm-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}


.dfm-close-button {
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  align-self: flex-start;
  margin-left: auto;
}

.dfm-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #000;
}

.dfm-label {
  display: block;
  margin-bottom: 10px;
  color: #000;
}

.dfm-input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.dfm-checkbox {
  margin-right: 10px;
}


.dfm-toggle-button {
  background: var(--primary-500);
  color: white;
  border: 1px solid var(--primary-500);
  padding: 5px 10px;
  margin-top: 5px;
}

.dfm-toggle-button:hover {
  background: var(--primary-700);
}

.dfm-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dfm-checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.dfm-checkbox-group label {
  margin-right: 15px;
}

.dfm-idade {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 8px;
}

.dfm-idade span {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.dfm-cancer-detail {
  margin-bottom: 16px;
}