.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-etapa2 {
  background: #fff;
  border-radius: 8px;
  width: 60%;
  max-width: 800px;
  height: 40vh;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

button.btn-back {
  background: #6c757d;
}

button.btn-next {
  background: #007bff;
}
