.register2-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.input-reg2{
  display: flex;
  align-items: baseline;
}

.register2-modal-content {
  background: white;
  border-radius: 8px;
  width: 90%; /* Ajusta para 90% da largura da tela menor */
  max-width: 760px; /* Largura máxima */
  height: auto; /* Altura automática */
  max-height: 90vh; /* Garante que o modal não exceda 90% da altura da tela */
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .register2-modal-content {
    width: 90%; /* Aumenta a responsividade para telas pequenas */
    padding: 15px; /* Menor padding para economizar espaço */
  }
}

@media (max-width: 480px) {
  .register2-modal-content {
    width: 90%; /* Ocupa toda a largura da tela */
    max-height: 85vh; /* Limita a altura a 85% da tela */
    padding: 10px; /* Padding reduzido para pequenas telas */
  }
}

.register2-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register2-close-button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* Remove the dotted line from the first item */
.stepper-item:first-child::before {
  content: none;
}

/* Remove the dotted line from the last item */
.stepper-item:last-child::after {
  content: none;
}

/* Dotted lines for other items */
.stepper-item::before,
.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px dotted #ccc;
  width: 100%;
  top: 20px;
  z-index: 2;
}

.stepper-item.active {
  font-weight: bold;
  color: #007BFF;
  transform: scale(1.05);
}

.step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.register2-confirmation-table {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.register2-terms-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.register2-terms-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  height: 200px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.register2-buttons-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.register2-back-button,
.register2-finish-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register2-finish-button {
  background-color: #007BFF;
  color: white;
}

.register2-finish-button:hover {
  background-color: #0056b3;
}

.register2-back-button {
  background-color: #007BFF;
  color: white;
}

.register2-back-button:hover {
  background-color: #ccc;
}
