.ff-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* Modal acima de outros conteúdos */
}

.modal-content-filhos__filhas {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 8px;
  width: 760px;
  /* Largura do modal */
  height: 650px;
  /* Altura do modal */
  overflow: hidden;
  /* Esconder overflow para layout fixo */
}



.ff-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Largura do formulário */
  padding: 20px;
  height: 100%;
  /* Alinhar altura */
  overflow-y: auto;
  /* Adicionar scroll se necessário */
}

/* Adicione isso ao seu CSS existente */
.dp-close-button {
  position: relative;
  /* Mudar para relative */
  margin-bottom: 20px;
  /* Adiciona espaço embaixo do botão */
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  /* Assegura que o botão esteja acima de outros conteúdos dentro do modal */
  color: #333;
  /* Torna o botão de fechar visível */
}

.dp-form-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.ff-form-buttons {
  display: flex;
  /* Usar flexbox para layout horizontal */
  justify-content: space-between;
  /* Alinhar botões uniformemente */
  margin-top: 20px;
  /* Manter margem superior */
}

.ff-btn-add {
  background: none;
  /* Sem fundo */
  color: rgb(119, 119, 119);
  /* Cor cinza */
  border: none;
  /* Sem borda */
  padding: 5px;
  /* Espaçamento reduzido */
  cursor: pointer;
  /* Cursor pointer */
  font-size: 16px;
  /* Tamanho do texto */
  font-weight: bold;
  /* Peso do texto */
  align-self: flex-end;
  /* Alinhamento ao final do container */
}

.ff-idade {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-end;
  justify-content: space-between;
}

.ff-idade button[type="button"] {
  background: #f8f9fa;
  color: var(--primary-500);
  border: 1px solid var(--primary-500);
  padding: 5px 10px;
  margin-top: 5px;
  width: 124px;
  height: 32px;
}

.ff-idade button[type="button"]:hover {
  background: var(--secondary-500);
  color: black;
  border-color: white;
}

.ff-btn-back,
.ff-btn-next {
  background: var(--primary-500);
  /* Cor azul */
  color: #fff;
  /* Texto branco */
  border: none;
  /* Sem borda */
  padding: 10px 15px;
  /* Espaçamento dos botões */
  font-size: 16px;
  /* Tamanho do texto */
  cursor: pointer;
  /* Cursor pointer */
  border-radius: 4px;
  /* Bordas arredondadas */
}

.ff-btn-back {
  background: white;
  border: 1px solid var(--primary-500);
  border-radius: 4px;
  color: var(--primary-500);
}

.ff-btn-next:hover {
  background-color: var(--primary-700);
}

.ff-btn-back:hover {
  background: var(--secondary-500);
  color: black;
  border-color: white;
}

.qtd-filhos {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.checkbox-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.checkbox-group input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ECECEC;
  border: 2px solid #8c8c8c;
  padding: 6px;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.checkbox-group input[type="radio"]:checked {
  background-color: #0e76a8;
  border-color: #0e76a8;
}

.checkbox-group input[type="radio"]:checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-group input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 2px 2px rgba(14, 118, 168, 0.4);
}