.pacienteModal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.pacienteModal__container {
  background: white;
  width: 60%;
  height: 650px;
  /* Altura fixa do modal */
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* Impede que o conteúdo exceda o container */
}

.step-label {
  background-color: var(--primary-500);
  width: 170px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  height: 50px;
}

.step-label:hover {
  background-color: var(--primary-700);
}


.pacienteModal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #222222;
  z-index: 1001;
  /* Garante que o botão esteja acima do conteúdo */
}

.pacienteModal__content {
  display: flex;
  flex: 1;
  overflow: hidden;
  /* Garante que a rolagem não apareça na área do conteúdo do modal */
}

.pacienteModal__nav {
  width: 25%;
  background-color: #f0f0f0;
  padding: 20px;
  overflow-y: auto;
  /* Permite rolar a navegação se o conteúdo for maior que a altura do modal */
}

.pacienteModal__nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* Remove margem para evitar espaçamento indesejado */
}

.pacienteModal__nav li {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
}

.itemsub {
  color: var(--primary-500);
}

.itemsub:hover {
  background-color: #dadada;
}

.pacienteModal__nav li.active {
  background-color: #dadada;
  color: var(--primary-700);
  font-weight: bold;
}


.paciente-modal-title{
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-700);
}

.pacienteModal__form {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  /* Permite rolar o conteúdo do formulário se for maior que a altura do modal */
  padding-bottom: 60px;
  /* Espaço para os botões na parte inferior */
  overflow-x: hidden;
}

.pacienteModal__footer {
  position: absolute;
  /* Posiciona os botões fixamente dentro da modal */
  bottom: 0;
  /* Fica na parte inferior */
  left: 0;
  right: 0;
  /* Preenche toda a largura */
  display: flex;
  /* Usar flexbox para alinhar os botões */
  justify-content: space-between;
  /* Espaça os botões */
  background: white;
  /* Cor de fundo dos botões */
  padding: 10px;
  /* Espaçamento interno */
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  /* Sombra opcional */
  z-index: 1000;
  /* Garante que o footer esteja acima do conteúdo do modal */
}

.pacienteModal__footer button:hover {
  background-color: var(--secondary-500);
}

.pacienteModal__footer button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.expand-icon {
  margin-left: 8px;
  transition: transform 0.3s ease;
  display: inline-block;
}

.loading-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
}

.completion-message {
  text-align: center;
  margin-top: 20px;
}

.completion-message button {
  margin-top: 10px;
}