.avosp-modal-content {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 8px;
  width: 760px;
  /* Largura fixa */
  height: 650px;
  /* Altura fixa */
  overflow: hidden;
  /* Esconde o conteúdo que ultrapassar */
}


.avosp-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
}

.avosp-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

.avosp-grupo {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.avosp-label {
  display: block;
  margin-bottom: 10px;
  color: #000;
}

.avosp-input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.avosp-checkbox {
  margin-right: 10px;
}

.avosp-btn-back {
  background: #6c757d;
}

.avosp-btn-next {
  background: #007bff;
}

.avosp-toggle-button {
  background: #f8f9fa;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 5px 10px;
  margin-top: 5px;
}

.avosp-toggle-button:hover {
  background: #007bff;
  color: #fff;
}

.avosp-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.avosp-checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.avosp-checkbox-group label {
  margin-right: 15px;
}