/* Overlay do modal, que cobre toda a tela */
.dp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Coloca o modal acima de outros conteúdos */
}

/* Container do conteúdo do modal */
.dp-modal-content {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 8px;
  width: 775px; /* Largura fixa */
  height: 650px; /* Altura fixa */
  overflow: hidden; /* Esconde o conteúdo que ultrapassar */
}

.dp-sidebar-container {
  width: 25%;
  background: #f8f9fa;
  border-right: 1px solid #ddd;
  height: 100%;
  overflow-y: auto; /* Permite rolagem caso o conteúdo exceda a altura */
  padding: 10px;
}

.dp-form-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 20px;
  height: 100%; /* Alinhamento da altura */
  overflow-y: auto; /* Permite rolagem caso o conteúdo exceda a altura */
}

.dp-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  z-index: 1100; /* Assegura que o botão esteja acima de outros conteúdos dentro do modal */
  color: #333; /* Torna o botão de fechar visível */
}

.dp-form-group {
  margin-bottom: 15px;
}

.dp-form-group label {
  display: block;
  margin-bottom: 5px;
}

/* Estilos para inputs lado a lado */
.dp-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; /* Espaçamento entre as linhas */
}

.dp-btn-add {
  background: none; /* Sem fundo */
  color: gray; /* Cor cinza */
  border: none; /* Sem borda */
  padding: 5px; /* Espaçamento reduzido */
  cursor: pointer; /* Cursor pointer */
  font-size: 18px; /* Tamanho do texto */
  align-self: flex-end; /* Alinhamento ao final do container */
}

.dp-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dp-btn-back,
.dp-btn-next {
  background: #007bff; /* Cor azul */
  color: #fff; /* Texto branco */
  border: none; /* Sem borda */
  padding: 10px 15px; /* Espaçamento dos botões */
  font-size: 16px; /* Tamanho do texto */
  cursor: pointer; /* Cursor pointer */
  border-radius: 5px; /* Bordas arredondadas */
}

.dp-btn-back {
  background: #6c757d; /* Cor cinza */
}
