/* Overlay do modal, que cobre toda a tela */
.dp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1010;
}

/* Container do conteúdo do modal */
.dp-modal-content {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 8px;
  width: 760px;
  /* Largura fixa */
  height: 650px;
  /* Altura fixa */
  overflow: hidden;
  /* Esconde o conteúdo que ultrapassar */
}


.dp-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  height: 100%;
  /* Alinhamento da altura */
  overflow-y: auto;
  /* Permite rolagem caso o conteúdo exceda a altura */
}

.dp-close-button {
  position: relative;
  /* Mudar para relative */
  margin-bottom: 20px;
  /* Adiciona espaço embaixo do botão */
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  z-index: 1100;
  /* Assegura que o botão esteja acima de outros conteúdos dentro do modal */
  color: #333;
  /* Torna o botão de fechar visível */
}

.dp-form-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.dp-form-group {
  margin-bottom: 15px;
}

.dp-form-group label {
  display: block;
  margin-bottom: 5px;
}

/* Estilos para inputs lado a lado */
.dp-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  /* Espaçamento entre as linhas */
}

.dp-btn-add {
  background: none;
  /* Sem fundo */
  color: rgb(119, 119, 119);
  /* Cor cinza */
  border: none;
  /* Sem borda */
  padding: 5px;
  /* Espaçamento reduzido */
  cursor: pointer;
  /* Cursor pointer */
  font-size: 20px;
  /* Tamanho do texto */
  font-weight: bold;
  /* Tamanho do texto */
  align-self: flex-end;
  /* Alinhamento ao final do container */
}

.dp-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dp-btn-back,
.dp-btn-next {
  background: var(--primary-500);
  /* Cor azul */
  color: #fff;
  /* Texto branco */
  border: none;
  /* Sem borda */
  padding: 10px 15px;
  /* Espaçamento dos botões */
  font-size: 16px;
  /* Tamanho do texto */
  cursor: pointer;
  /* Cursor pointer */
  border-radius: 4px;
  /* Bordas arredondadas */
}

.dp-btn-back {
  background: white;
  border: 1px solid var(--primary-500);
  border-radius: 4px;
  color: var(--primary-500);
  /* Cor cinza */
}

.dp-btn-next:hover {
  background-color: var(--primary-700);
}

.dp-btn-back:hover {
  background: var(--secondary-500);
  border-radius: 4px;
  color: black;
  border-color: white;
}

.nome-paciente {
  display: flex;
  flex-direction: column;
}

/* .nome-paciente span {
  color: #797979;
  font-weight: 700;
  font-size: 18px;
} */

.nome-paciente input {
  height: 32px;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid #ddd;
}

.sexo-paciente {
  display: flex;
  flex-direction: column;
}

.sexo-paciente select {
  height: 32px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
  /* Adiciona uma borda para combinar com o input */
  padding: 0 8px;
  /* Adiciona padding para um melhor espaçamento interno */
}

.checkbox-group {
  height: 32px;
  align-items: baseline;
}

.checkbox-group input[type="checkbox"] {
  background-color: #ECECEC;
  border: 2px solid #8c8c8c;
  padding: 6px;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.checkbox-group input[type="checkbox"]:checked{
  background-color: var(--primary-500);
  border-color: #274195;
}

.checkbox-group label {
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .dp-modal-content {
    flex-direction: row;
    width: 90%;
    height: auto;
  }


  .dp-form-container {
    width: 100%;
    /* Formulário ocupa 100% da largura */
    padding: 15px;
    /* Padding reduzido */
  }

  .dp-close-button {
    font-size: 20px;
    /* Tamanho de fonte menor para o botão de fechar */
  }

  .dp-btn-add {
    font-size: 20px;
    /* Tamanho de fonte menor para o botão de adicionar */
  }

  .dp-btn-back,
  .dp-btn-next {
    font-size: 14px;
    /* Tamanho de fonte menor para botões */
    padding: 8px 12px;
    /* Padding reduzido */
  }

  .nome-paciente span {
    font-size: 16px;
    /* Tamanho de fonte menor para o nome do paciente */
  }

  .nome-paciente input,
  .sexo-paciente select {
    height: 28px;
    /* Altura dos inputs reduzida */
  }
}

/* Estilos para celulares */
@media (max-width: 480px) {
  .dp-close-button {
    font-size: 18px;
    /* Tamanho de fonte ainda menor para o botão de fechar */
  }

  .dp-btn-add {
    font-size: 18px;
    /* Tamanho de fonte ainda menor para o botão de adicionar */
  }

  .dp-btn-back,
  .dp-btn-next {
    font-size: 12px;
    /* Tamanho de fonte ainda menor para botões */
    padding: 6px 10px;
    /* Padding ainda mais reduzido */
  }

  .nome-paciente span {
    font-size: 14px;
    /* Tamanho de fonte ainda menor para o nome do paciente */
  }

  .nome-paciente input,
  .sexo-paciente select {
    height: 24px;
    /* Altura dos inputs reduzida para celulares */
  }
}