.avosm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.avosm-modal-content {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 8px;
  width: 760px;
  /* Largura fixa */
  height: 650px;
  /* Altura fixa */
  overflow: hidden;
  /* Esconde o conteúdo que ultrapassar */
}


.avosm-form-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 20px;
  overflow-y: auto;
}

.avosm-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

.avosm-grupo {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.avosm-label {
  display: block;
  margin-bottom: 10px;
  color: #000;
}

.avosm-input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.avosm-checkbox {
  margin-right: 10px;
}

.avosm-btn-back {
  background: #6c757d;
}

.avosm-btn-next {
  background: #007bff;
}

.avosm-toggle-button {
  background: #f8f9fa;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 5px 10px;
  margin-top: 5px;
}

.avosm-toggle-button:hover {
  background: #007bff;
  color: #fff;
}

.avosm-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.avosm-checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.avosm-checkbox-group label {
  margin-right: 15px;
}