.tooltip-container {
  position: relative;
  /* Define o contexto para o tooltip */
  display: inline-block;
  /* Permite que o tooltip se posicione em relação ao conteúdo */
}

.tooltip-text {
  display: flex;
  visibility: hidden;
  /* Oculta o tooltip inicialmente */
  width: 120px;
  /* Largura do tooltip */
  height: 30px;
  background-color: #555;
  /* Cor de fundo */
  color: #fff;
  /* Cor do texto */
  text-align: center;
  justify-content: center;
  /* Alinhamento do texto */
  border-radius: 5px;
  /* Bordas arredondadas */
  padding: 5px 15px;
  /* Espaçamento interno */
  position: absolute;
  /* Posiciona o tooltip */
  z-index: 1;
  /* Coloca o tooltip acima de outros elementos */
  bottom: 100%;
  /* Coloca o tooltip acima do conteúdo */
  left: 50%;
  /* Alinha o tooltip ao centro */
  margin-left: -60px;
  /* Ajusta a posição do tooltip */
  opacity: 0;
  /* Torna o tooltip invisível */
  transition: opacity 0.3s;
  /* Animação de transição */
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  /* Torna o tooltip visível ao passar o mouse */
  opacity: 1;
  /* Torna o tooltip visível */
}