:root {
  --primary-500: #274195;
  --primary-700: #1B2C65;
  --primary-900: #0E1736;
  --secondary-500: #4FBCCD;
  --tertiary-500: #7BBDAD;
  --white: #fff;

  --font: 'Inter', sans-serif;

}

input::placeholder,
textarea::placeholder {
  font-family: 'Inter', sans-serif;
  /* Altere para a fonte desejada */
  font-size: 14px;
  /* Tamanho da fonte */
  color: #888;
  /* Cor do placeholder */
  font-weight: normal;
  /* Espessura da fonte */
  height: 42px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

 /*  font-family: var(--font) !important; */
  font-style: normal;
}