.fdm-modal-content {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 8px;
  width: 760px;
  height: 650px;
  overflow: hidden;
}

.fdm-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
}

.radio-group--fdm {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.fdm-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

.fdm-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.fdm-relative-details {
  margin-bottom: 20px;
}

.fdm-input[type="number"],
.fdm-input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.fdm-select {
  width: 100%;
  margin-bottom: 10px;
}

input[type="text" i] {
  height: 42px;
  border-color: #cacaca73;
  border-radius: 4px;
}

.btn-back,
.btn-next {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-back {
  background: #6c757d;
  color: #fff;
}

.btn-next {
  background: #007bff;
  color: #fff;
}

.fdm-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}